<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.development.allanproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".views.activity.ui.addexperience.workExperienceList.WorkExperienceList"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".views.activity.ui.editPersonalInfo.EditPersonalInfo"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden">


        </activity>
        <activity
            android:name=".views.activity.ui.profileSummary.ProfileSummaryScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".views.activity.ui.appointment.BookAppointment"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ui.login.LoginActivity"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".views.activity.ui.addexperience.addWorkExperience.AddExtraExperienceInfo"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ui.locationPreference.AddLocationPreference"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ui.setPreference.SetPreferenceScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ui.setFaciliity.FacilityType"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ui.addcertifictate.AddCertificate"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ui.addlicenese.AddLicenses"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ui.speciality.AddSpeciality"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ui.addlicenese.AddLicense"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ui.addexperience.addWorkExperience.AddExperience"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ui.personal.PersonalDetail"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.SignUpComplete"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.SetFacilityType"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ClockOutScreenSecond"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ViewMyShift"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.NotificationScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.RequestedShiftSecond"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.MyShiftScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.RequestShiftScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ViewOfferedShift"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ClockInSecondScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ClockOutScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.HomeScreen"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.EditProfile"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ClockInScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.AllShifts"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.MyProfile"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.NotificationSettings"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.Settings"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ViewFutureShift"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.BackgroundInformation"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.PreferredFacilityScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ResearchScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.AwardsScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.LanguageScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.MissedClockScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.MyPayment"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.WeekDates"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.EarningWeek"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.WeekShiftScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.PreferenceScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ShiftName"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.AddMyEvent"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.AddAvailability"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ShiftRequest"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.LocationPreference"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.AddEducation"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.AddExperienceInfo"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.Forms"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.AddSpecialty"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.FacilityProfile"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.SocailSecurity"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.HiddenJobs"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.FaqScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ChangePassword"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.SetWorkPreference"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.SetPreference"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ProfileSummary"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.EmploymentDetail"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.Referencecs"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.LicenseList"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.CertificatesList"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.EducationActivity"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.EditWorkExperience"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.EHRMScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.AddCertificateSecond"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.AddCertificate"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.AddDocument"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.AddLicense"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.HealthDocument"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.Training"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.BankInfo"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.AddExperience"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.AccessScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.PrivacyPolicy"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ui.signup.SignUp"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.TermsCondition"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.OTPVerification"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.ForgotPassword"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.NormalLoginScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".views.activity.LoginScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>