<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.development.allanproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.development.views.activity.MyPayment"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name="com.development.views.activity.WeekDates"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.development.views.activity.EarningWeek"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="com.development.views.activity.WeekShiftScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.PreferenceScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.ShiftName"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.AddMyEvent"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.AddAvailability"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.ShiftRequest"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.LocationPreference"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.AddEducation"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.AddExperienceInfo"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.Forms"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.AddSpecialty"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.FacilityProfile"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.development.views.activity.SocailSecurity"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.HiddenJobs"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.FaqScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.development.views.activity.ChangePassword"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.SetWorkPreference"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.SetPreference"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.ProfileSummary"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.EmploymentDetail"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.Referencecs"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.LicenseList"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.CertificatesList"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.EducationActivity"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.EditWorkExperience"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.EHRMScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.AddCertificateSecond"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.AddCertificate"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.AddDocument"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.AddLicense"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.HealthDocument"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.Training"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.BankInfo"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.AddExperience"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.AccessScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.PersonalDetails"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.PrivacyPolicy"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.SignUp"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.TermsCondition"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.OTPVerification"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.ForgotPassword"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.NormalLoginScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.development.views.activity.LoginScreen"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateHidden">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>